<!-- wp:template-part {"slug":"header","theme":"mon-theme-enfant"} /-->

<main class="legal-main-block" style="min-height:64vh; background:#f8fafc; padding:3.2rem 0;">
  <section style="max-width:700px; margin:0 auto; background:#fff; border-radius:16px; box-shadow:0 8px 32px -10px #33415523; padding:2.2rem 1.2rem;">
    <h1 style="font-size:2rem;font-weight:900;">Mentions légales</h1>
    <br>
    <b>Éditeur du site</b><br>
    AfricanBigData<br>
    Adresse postale (à remplir)<br>
    Email : contact@africanbigdata.com<br>
    Directeur de publication : (Ton Nom Prénom ou raison sociale)<br>
    <br>
    <b>Hébergeur</b><br>
    OVHcloud – 2 rue Kellermann, 59100 Roubaix, France<br>
    Site web : <a href="https://www.ovh.com" target="_blank">https://www.ovh.com</a><br>
    <br>
    <b>Propriété intellectuelle et crédits</b><br>
    Sauf mention contraire, l’ensemble du site AfricanBigData (textes, images, logos, contenus…) est protégé par le droit d’auteur.<br>
    Toute reproduction ou utilisation sans autorisation écrite préalable est interdite.<br>
    <br>
    <b>Responsabilité</b><br>
    L’éditeur se réserve le droit de modifier le contenu du site à tout moment. L’éditeur ne saurait être tenu responsable de l’utilisation qui pourrait être faite des informations ou contenus présents sur ce site, ni de tout dommage direct ou indirect pouvant en découler.
  </section>
</main>

<!-- wp:template-part {"slug":"footer","theme":"mon-theme-enfant"} /-->
