<!-- wp:template-part {"slug":"header","theme":"mon-theme-enfant"} /-->

<main class="privacy-main-block" style="min-height:64vh; background:#f8fafc; padding:3.2rem 0;">
  <section style="max-width:700px; margin:0 auto; background:#fff; border-radius:16px; box-shadow:0 8px 32px -10px #33415523; padding:2.2rem 1.2rem;">
    <h1 style="font-size:2rem;font-weight:900;">Politique de confidentialité</h1>
    <br>
    <b>Collecte de données personnelles</b><br>
    Les informations recueillies via notre formulaire de contact/abonnement (nom, email) sont enregistrées pour la gestion des demandes, l’envoi de newsletters ou d’informations sur nos services.<br><br>
    <b>Utilisation et sécurité des données</b><br>
    Les données sont strictement utilisées par AfricanBigData et ne sont jamais vendues à des tiers. Nous mettons en place toutes les mesures nécessaires pour en garantir la sécurité.<br><br>
    <b>Cookies & analytics</b><br>
    Ce site utilise des cookies pour l’analyse statistique de fréquentation et le fonctionnement optimal du site. Vous pouvez paramétrer ces cookies dans votre navigateur.<br><br>
    <b>Vos droits</b><br>
    Conformément à la loi “Informatique et Libertés” et au RGPD, vous avez le droit d’accéder à vos données, les rectifier ou les supprimer sur simple demande à <a href="mailto:contact@africanbigdata.com">contact@africanbigdata.com</a>.<br><br>
    Pour toute demande concernant vos données, contactez-nous à cette même adresse.
  </section>
</main>

<!-- wp:template-part {"slug":"footer","theme":"mon-theme-enfant"} /-->
